{% extends "base.html" %}

{% block styles %}
{{super()}}
<style>
  .control-label {display: none;}
</style>
{% endblock %}

{% block app_content %}
<div class="row centered-form">
	<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
		<div class="panel panel-default">
		<div class="form-group panel-heading">
			<h2>Login Trivia</h2>
		</div>
		<div class="panel-body">
			<form action="" role="form" method="post" class="form-signin">
				{{ form.hidden_tag() }}
				<div class="form-group form-row">
					<div class="col">
						 {{wtf.form_field(form.username, class="form-control input-sm", placeholder='Usuario o E-mail')}}
					</div>
				</div>
				<div class="form-group form-row">
					<div class="col">
						 {{wtf.form_field(form.password, class="form-control input-sm", placeholder='Password')}}
					</div>
				</div>
				<div class="checkbox mb-3">
					{{wtf.form_field(form.remember_me, class="btn btn-lg btn-primary btn-block")}}
					<a href="#" class="float-right">Forgot Password?</a>
				</div>
				{{wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block", placeholder='Login')}}
		    	</form>
			<p class="text-center text2"><a href="{{url_for('auth.register')}}">Create an Account</a></p>
		</div>
	</div>
</div>
{% endblock %}


