{% extends "base.html" %}
{% block styles %}
{{super()}}
<style>
  .control-label {display: none;}
</style>
{% endblock %}

{% block app_content %}
<div class="row centered-form">
	<div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
		<div class="panel panel-default">
			<div class="form-group panel-heading">
				<h2>Registro Trivia</h2>
				<h3 class="panel-title"> Crea tu cuenta. <small>Te permite guardar tus tiempos</small></h3>
 			</div>
 			<div class="panel-body">
				<form role="form">
					{{ form.hidden_tag() }}
					<div class="form-group form-row">
						<div class="col">
							 {{wtf.form_field(form.nombre, class="form-control input-sm", placeholder='Nombre')}}
						</div>
						<div class="col">
							 {{wtf.form_field(form.apellido, class="form-control input-sm", placeholder='Apellido')}}
						</div>
					</div>
					<div class="form-group form-row">
						<div class="col">
							 {{wtf.form_field(form.email, class="form-control input-sm", placeholder='Correo Electronico')}}
						</div>
					</div>
					<div class="form-group form-row">
						<div class="col">
							 {{wtf.form_field(form.usuario, class="form-control input-sm", placeholder='Usuario')}}
						</div>
					</div>
					<div class="form-group form-row">
						<div class="col">
							 {{wtf.form_field(form.password, class="form-control input-sm", placeholder='Contraseña')}}
						</div>
						<div class="col">
							 {{wtf.form_field(form.password2, class="form-control input-sm", placeholder='Repetir contraseña')}}
						</div>
					</div>
					{{wtf.form_field(form.submit, class="btn btn-lg btn-primary btn-block", placeholder='Registar')}}
    				</form>
				<div class="text-center" style="padding: 5px;"> ¿Ya tienes una cuenta? <a href="#">Sign in</a></div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

